.cartProfile{
    margin: 10px auto;
    max-width: 1000px;
    width: 95%;
    border-radius: 1rem;
    border: transparent;
    display: flex;         
    flex-direction: row;   
    align-items: stretch;
    justify-content: center;
}