<!DOCTYPE html>

<body>
    {{>navigationBar}}
    <div class="layout-container">


        
        <div class="box-pic">
            <img src="./images/box_circle_9_spots.png" alt="Open box" class="middle-pic"> 
            <!--{{#boxChocolates}}
                <div class="choco-pic">
                    <img src="/chocolate/{{id}}/image" alt="{{name}}" class="choco-image">
                </div>
            {{/boxChocolates}}       -->  
        </div>
        <div class="col-auto">
            <div class="list-chocolates">
                <h3>Bombones en la caja:</h3>
                <ul>
                    {{#boxChocolates}}
                <li><img src="/chocolate/{{id}}/image" alt="{{name}}" class="choco-image">  </li> 
                    {{/boxChocolates}}
                </ul>
            </div>
        </div>
        <div class="empty-box">
            <form action="/emptyCustom" method="post">
                <input type="submit" value="Vaciar caja" class ="btn empty-btn">
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>
        <div class="middle-btn">
            <button class="btn random-btn">Aleatorio</button>
            <form action="/randomize" method ="post">
            <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>

        <div class="add-to-cart">
            <a href="/cart" class="btn buy-btn">Añadir al carro</a>  
            <!-- addCustomToCart o addToCart dependiendo de si se hace el métdo de addCustom pq las custom no 
             son como las normales-->
                      
        </div>

        <div class="chocolate-bottom-bar">
            <div class="images-grid">
                {{#chocolates}}
                <div class="choco-pic">
                    <form action="/addChocolate/{{id}}" method ="post">
                    <input src="/chocolate/{{id}}/image" alt="choco" type="image">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    </form>
                    
                    <div class="choco-name">{{name}}</div>
                </div>
                {{/chocolates}}
            </div>
        </div>    
    </div>
    {{>footer}}

</body>

</html>
