<!DOCTYPE html>

<body>
    {{>navigationBar}}
    <div class="layout-container">



        <div class="box-pic">
            <img src="./images/box_heart_9_spots.png" alt="Open box" class="middle-pic">
        </div>

        <div class="middle-btn">
            <button class="btn random-btn">Aleatorio</button>
        </div>

        <div class="add-to-cart">
            <a href="/cart" class="btn buy-btn">Añadir al carro</a>            
        </div>

        <div class="chocolate-bottom-bar">
            <div class="images-grid">
                {{#chocolates}}
                <div class="choco-pic">
                    <form action="/add/{{id}}" method ="post">
                    <input src="/chocolate/{{id}}/image" alt="choco" type="image">
                    </form>
                    
                    <div class="choco-name">{{name}}</div>
                </div>
                {{/chocolates}}
            </div>
        </div>    
    </div>
    {{>footer}}

</body>

</html>
