<!DOCTYPE html>

<body>
    {{>navigationBar}}
    <div class="layout-container">
        <div class="box-pic">
            <img src="./images/Boxes/box_circle_9_spots.png" alt="Open box" class="middle-pic">  
        </div>
        <div class="col-auto">
             {{#box}}
            <div class="list-chocolates">
                <h3>Bombones en la caja:</h3>
                <ul>
                    {{#boxChocolates}}
                <li><img src="/chocolate/{{id}}/image" alt="{{name}}" class="choco-image">  </li> 
                    {{/boxChocolates}}
                </ul>
            </div>
             {{/box}}
        </div>
        <div class="empty-box">
            <form action="/emptyCustom" method="post">
                <input type="submit" value="Vaciar caja" class ="btn empty-btn">
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>
        <div class="middle-btn">
            <form action="/randomize" method ="post">
            <input type="submit" value="Aleatorio" class ="btn random-btn">
            <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>

        {{#box}}
        {{^admin}}<!--not admin-->
        <div class="add-to-cart">
            <form action="/custom/{{box.id}}/add-to-cart" method="post">
                <input class="form-control text-center me-3" id="input" type="text" name="name"  value="{{name}}" style="max-width: 20rem" required/>
                <input type="submit" value="Añadir al carrito" class="btn buy-btn" />
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>       
        {{/admin}}
        {{#admin}}<!--admin-->
        <div class="col-md-8"> 
        </div>
        <div class="add-to-boxes">
            <div class="col-md-8"></div>
            <form action="/adminAddBox/{{box.id}}" method="post" enctype="multipart/form-data">
                <input class="form-control text-center me-3" id="input" type="text" name="name"  value="{{name}}" style="max-width: 20rem" required/>
                <input type="file" class="form-control-file" id="boxPicture" name='imageFile' required>
                <input type="submit" value="Añadir caja" class="btn buy-btn" />
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
        </div>
        {{/admin}}
        {{/box}}
        <div class="chocolate-bottom-bar">
            <div class="images-grid">
                {{#chocolates}}
                <div class="choco-pic">
                    <form action="/addChocolate/{{id}}" method ="post">
                    <input src="/chocolate/{{id}}/image" alt="choco" type="image">
                    <input type="hidden" name="_csrf" value="{{token}}"/>
                    </form>
                    
                    <div class="choco-name">{{name}}</div>
                </div>
                {{/chocolates}}
            </div>
        </div>    
    </div>
    {{>footer}}

</body>

</html>
