<!DOCTYPE html>
{{>navigationBar}}

<body class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1">
        <div class="container-end">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="message-box _failed">
                        <i class="fa fa-times-circle" aria-hidden="false"></i>
                        <h2> Ha habido un problema con el pago </h2>
                        <div class="container px-4 px-lg-5">
                            <a href="/" class="btn btn-pay"><span>Volver a la tienda</span></a>

                        </div>
                    </div>
                </div>
            </div>
    </main>

</body>
{{>footer}}

</html>