<!DOCTYPE html>
<html lang="en">

<body>
    <header>
        {{>navigationBar}}
        <h1 class="site-heading text-center text-faded d-none d-lg-block">

            <div class="logo-container">

                <img class="logo-img" alt="..." src="./images/logo2.png" />
            </div>
            <span class="site-heading-lower">Obrador de bombones</span>
        </h1>
    </header>
   
    <section class="page-section clearfix">
        <div class="container">
            <div class="intro">
                <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="./images/box_heart2.png" alt="..." />
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Novedad</span>
                        <span class="section-heading-lower">Cajas Personalizadas</span>
                    </h2>
                    <p class="mb-3">Si quiere unos bombones en específico, ¡pruebe a crear su propia caja! Podrá escoger
                        cualquier bombón, haga un regalo muy especial por tan solo 19,99€</p>
                    <div class="container px-4 px-lg-5">
                            <a href="/customBox" class="btn btn-primary" ><span>¡Créala!</span></a>
                        </div> 
                </div>
            </div>
        </div>
    </section>
    <section class="page-section cta">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <div class="cta-inner bg-faded text-center rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Nuestras Obras</span>
                            <span class="section-heading-lower">Para Ti</span>
                        </h2>
                        <p class="mb-0">Garantizamos al cliente bombones con los ingredientes de más alta calidad,
                            hechos de forma artesanal y diaria, pensando en el consumidor y los seres queridos que
                            recibirán una selección de nuestros productos.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
   
   
    {{>footer}}
</body>

</html>
