<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Productos</title>

    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google Fonts: Raleway -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/styles.css" rel="stylesheet" />
</head>

<body>
    <main>
        {{>navigationBar}}
        <!-- Header-->
        <header class="product-page-header-background py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-light">NUESTROS PRODUCTOS</h1>
                    <p class="lead fw-normal text-white-50 mb-0">CAJAS Y BOMBONES CON MUCHO AMOR</p>
                </div>
            </div>
        </header>
        <!-- Product categories -->
        <div class="bg-tabs py-3">
            <div class="container px-4 px-lg-5">
                <ul class="nav nav-pills justify-content-center mb-4" id="productsTabs" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="bombones-tab" data-bs-toggle="pill"
                            data-bs-target="#bombones" type="button" role="tab">
                            Bombones
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="cajas-tab" data-bs-toggle="pill" data-bs-target="#cajas"
                            type="button" role="tab">
                            Cajas
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <!-- Section-->
        <section class="py-5">
            <div class="tab-content">
                <div class="tab-pane fade show active" id="bombones" role="tabpanel">
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute"
                                        style="top: 0.5rem; right: 0.5rem">Disponible
                                    </div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="images/flor_morada.jpeg" alt="Bombón: Violeta" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">Violeta</h5>
                                            <!-- Product price-->
                                            0.60€
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            <a href="/productdetails" class="btn btn-primary btn-outline-dark btn-sm">
                                                Detalles
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute"
                                        style="top: 0.5rem; right: 0.5rem">Disponible
                                    </div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="/images/chocolate_tarta.jpeg"
                                        alt="Bombón: Triángulo de las Delicias" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">Triángulo de las delicias</h5>
                                            <!-- Product price-->
                                            0.60€
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="#">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute"
                                        style="top: 0.5rem; right: 0.5rem">Disponible
                                    </div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="/images/chocolate_rosa.jpeg"
                                        alt="Bombón: Marmol de Frambuesa" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">Marmol de frambuesa</h5>
                                            <!-- Product price-->
                                            0.60€
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="#">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute"
                                        style="top: 0.5rem; right: 0.5rem">Disponible
                                    </div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="/images/media_naranja.jpeg"
                                        alt="Bombón: Puesta de Sol" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">Puesta de sol</h5>
                                            <!-- Product price-->
                                            0.60€
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="#">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute"
                                        style="top: 0.5rem; right: 0.5rem">Disponible
                                    </div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="/images/chocolate_negro.jpeg"
                                        alt="Bombón: Espiral de Nedianoche" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">Espiral de medianoche</h5>
                                            <!-- Product price-->
                                            0.60€
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="#">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute"
                                        style="top: 0.5rem; right: 0.5rem">Disponible
                                    </div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="/images/chocolate_limon.jpeg"
                                        alt="Bombón: Delicia de cítrico" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">Delicia de cítrico</h5>
                                            <!-- Product price-->
                                            0.60€
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="#">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute"
                                        style="top: 0.5rem; right: 0.5rem">Disponible
                                    </div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="/images/chocolate_barca.jpeg"
                                        alt="Bombón: Barca de avellana" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">Barca de avellana</h5>
                                            <!-- Product price-->
                                            0.60€
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="#">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute"
                                        style="top: 0.5rem; right: 0.5rem">Disponible
                                    </div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="/images/chocolate_verde.jpeg"
                                        alt="Bombón: Bosque de cacao" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">Bosque de cacao</h5>
                                            <!-- Product price-->
                                            0.60€
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="#">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute"
                                        style="top: 0.5rem; right: 0.5rem">Disponible
                                    </div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="/images/chocolate_cubo.jpeg"
                                        alt="Bombón: Caramelo Imperial" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">Caramelo imperial</h5>
                                            <!-- Product price-->
                                            0.60€
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="#">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute"
                                        style="top: 0.5rem; right: 0.5rem">Disponible
                                    </div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="/images/chocolate_corazon_rosa.jpeg"
                                        alt="Bombón: Corazón silvestre" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">Corazón silvestre</h5>
                                            <!-- Product price-->
                                            0.60€
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="#">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CAJAS -->
                <div class="tab-pane fade" id="cajas" role="tabpanel">
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute"
                                        style="top: 0.5rem; right: 0.5rem">Disponible
                                    </div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="/images/box_heart2.png" alt="Caja: Corazón" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">Dulce amor</h5>
                                            <!-- Product price-->
                                            <h6 class="fw-bold">14 bombones</h6>
                                            10.50€
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="#">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Sale badge-->
                                    <div class="badge bg-dark text-white position-absolute"
                                        style="top: 0.5rem; right: 0.5rem">Disponible
                                    </div>
                                    <!-- Product image-->
                                    <img class="card-img-top" src="/images/box_red2.png" alt="Caja: Redonda" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">Pensamiento circular</h5>
                                            <!-- Product price-->
                                            <h6 class="fw-bold">19 bombones</h6>
                                            13.90€
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center"><a class="btn btn-outline-dark mt-auto"
                                                href="#">Detalles</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center">
                    <a href="/createproduct" class="btn btn-primary btn-outline-dark btn-sm">
                        + Añadir producto
                    </a>
                </div>
            </div>
        </section>
    </main>
    <!-- Footer-->
    {{>footer}}

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    </div>
</body>

</html>