<!DOCTYPE html>
<html>

<body class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1">

        {{>navigationBar}}
        {{#user}}
        <section>

            <div class="container py-5">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                {{#admin}}
                                <img src="/profile/{{id}}/image" alt="avatar" class="rounded-circle img-fluid"
                                    style="width: 150px;">
                                {{/admin}}
                                {{^admin}}
                                <img src="/profile/image" alt="avatar" class="rounded-circle img-fluid"
                                    style="width: 150px;">
                                {{/admin}}
                                <h5 class="my-3 fw-bold">{{name}}</h5>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Nombre</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{name}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Apellidos</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{surname}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{email}}</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Teléfono</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">{{telephone}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{#admin}}<!--para que el admin no elimine su perfil-->
                    <form action="/delete/{{id}}/profile" method="post">
                        <input type="submit" value="Eliminar perfil" class="btn btn-primary" />
                        <input type="hidden" name="_csrf" value="{{token}}" />
                    </form>
                    {{/admin}}
                    {{^admin}}
                    <form action="/delete/profile" method="post">
                        <input type="submit" value="Eliminar perfil" class="btn btn-primary" />
                        <input type="hidden" name="_csrf" value="{{token}}" />
                    </form>
                    {{/admin}}
                    {{^admin}}<!--para que el admin no edite un perfil (solo tiene permiso para eliminar)-->
                    <form action="/editprofile" method="post">
                        <input type="submit" value="Editar perfil" class="btn btn-primary" />
                        <input type="hidden" name="_csrf" value="{{token}}" />
                    </form>

                    <form action="/logout" method="post">
                        <input type="submit" class="btn btn-primary" value="Sign Out" />
                        <input type="hidden" name="_csrf" value="{{token}}" />
                    </form>
                    {{/admin}}
                    <div class="col-lg-12 mt-5">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <h5 class="my-3 fw-bold">Historial de pedidos</h5>
                            </div>
                        </div>
                    </div>
                    {{#closedOrders}}

                    <div class="cart">
                        <div class="row">
                            <div class="first-block">
                                <div class="title-cart">
                                    <h4><b>{{date}}</b></h4>
                                    <p>{{amount}} productos</p>
                                </div>
                                <div class="products">
                                    {{#boxes}}
                                    <div class="first-product">
                                        <div class="info-product-group">
                                            <div class="button-image-product">
                                                <img class="image-product" src="/product/{{id}}/image">
                                            </div>
                                            <div class="col">
                                                <div class="type-product">Caja</div>
                                                <div class="name-product">{{name}}</div>
                                            </div>
                                        </div>
                                        <div class="right-control">
                                            <div class="col-price">
                                                <div class="price">{{price}}</div>
                                            </div>

                                        </div>
                                    </div>
                                    {{/boxes}}
                                </div>
                            </div>
                            <div class="second-block">
                                <div class="info-second-block">
                                    <div>
                                        <h5><b>Total</b></h5>
                                    </div>
                                    <hr>
                                    <div class="row-second-block">
                                        <div class="col" style="padding-left: 0;">PRODUCTOS {{amount}}</div>
                                        <div class="col text-right">
                                            <div class="price">{{price}}€</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    {{/closedOrders}}
                </div>
            </div>
        </section>
        {{/user}}
    </main>

    {{>footer}}
</body>

</html>