<!DOCTYPE html>
<html>

<body class="d-flex flex-column min-vh-100">
    <main class="flex-grow-1">
        {{>navigationBar}}
        <div class="container mt-5">

            <!-- User 1 -->
            <div class="user-card">
                <div class="user-info">
                    <img src= {{image}}
                        alt="foto" class="user-photo">
                    <div>
                        <p class="user-name">{{name}}</p>
                        <p class="user-phone">{{telephone}}</p>
                        <p class="user-mail">{{email}}</p>
                    </div>
                </div>
                <a href="/profile" class="btn btn-outline-dark btn-sm">Ir al perfil</a>
                
            </div>



        </div>
    </main>
    {{>footer}}
</body>

</html>